html{
	height:100%;
}

body{
	background-image:url('08_form3_sfondi/sfondo_login.jpg');
	background-repeat: repeat-x;
	background-size:100% 100%;


	display:flex;
	justify-content:center;
	align-items:center;

	height:100%;
}



.blueDiv{
	width:60%;

	padding:50px;
	background-color:aqua;
}


.whiteDiv{
	background-color:white;
	padding:30px;

	display:flex;
	flex-direction:column;

}


.loginSpan{
	color:blue;
}

.whiteDiv > * {
	margin-top:10px;
}

input{
	padding:5px;
}


button{
	background-color:aqua;
	border:none;
}

